<!DOCTYPE html>
<html lang="nb">
  <head>
    <meta charset="UTF-8" />
    <title>Vinlottis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Knowits ukentlige vinlotteri-statistikk-side."
    />
    <meta name="keywords" content="vin,vinlotteri,knowit,statistikk" />
    <meta name="author" content="Kasper Rynning-Tønnesen & Kevin Midbøe" />
    <link
      rel="preload"
      href="/public/assets/fonts/bold.woff"
      as="font"
      crossorigin
    />
    <meta
      name="description"
      content="Knowits ukentlige vinlotteri-statistikk-side."
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/public/assets/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/assets/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/assets/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/public/assets/manifest.json" />
    <link
      rel="mask-icon"
      href="/public/assets/images/safari-pinned-tab.svg"
      color="#23101f"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#dbeede" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Super hacky safari bigint import -->
    <script type="application/javascript">
      const loadBigInt = function(callbackfn) {
        var newScript = document.createElement("script");
        newScript.type = "text/javascript";
        newScript.setAttribute("src", "https://peterolson.github.io/BigInteger.js/BigInteger.min.js");

        if(newScript.readyState) {
          console.log("newScript is ready")
          newScript.onreadystatechange = function() {
            if(/loaded|complete/.test(newScript.readyState)) callbackfn();
          }
        } else {
          newScript.addEventListener("load", callbackfn, false);
        }
        document.documentElement.firstChild.appendChild(newScript);
      }

      if (!navigator.userAgent.includes("Chrome") && !navigator.userAgent.includes("Firefox")) {
        loadBigInt(function() {
          console.log("callback from loadBigInt")
          BigInt = bigInt;
        })
      }
    </script>
  </head>
  <body>
    <div id="app"></div>

    <noscript>Du trenger vin, jeg trenger javascript!</noscript>
  </body>
</html>

<style>
  noscript {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #dbeede;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
