@import "./media-queries.scss";
@import "./variables.scss";

@font-face {
  font-family: "knowit";
  font-weight: 600;
  src: url("/../../public/assets/fonts/bold.woff");
}

@font-face {
  font-family: "knowit";
  font-weight: 300;
  src: url("/../../public/assets/fonts/regular.eot");
}

body {
  font-family: Arial;
  margin: 0;
}

.title {
  text-align: center;
  width: fit-content;
  margin: 2rem auto;
  text-align: center;
  font-family: knowit, Arial;
  margin-top: 3.8rem;
  font-weight: 600;

  @include mobile {
    margin-top: 1.5rem;
    font-size: 1.6rem;
  }
}

.subtext {
  margin-top: 0.5rem;
  font-size: 1.22rem;

  @include mobile {
    margin-top: 0;
    font-size: 1.15rem;
  }
}

.label-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  label {
    margin-bottom: 0.25rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  input {
    margin: 0;
    margin-bottom: auto;
    height: 2rem;
    padding: 0.5rem;
    min-width: 0;
    width: 98%;
    padding: 1%;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;

  > *:not(:last-child) {
    margin-right: 2rem;
  }

  &.column {
    flex-direction: column;
    align-items: center;

    > * {
      margin-right: unset;
      margin-bottom: 1rem;
    }
  }

  @include mobile {
    &:not(.row) {
      flex-direction: column;
      align-items: center;

      > *:not(:last-child) {
        margin-right: unset;
        margin-bottom: .75rem;
      }
    }
  }
}

input,
textarea {
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  font-size: 1.1rem;
  border: 1px solid rgba(#333333, 0.3);
}

.vin-button {
  font-family: Arial;
  $color: #b7debd;
  position: relative;
  display: inline-block;
  background: $color;
  color: #333;
  padding: 10px 30px;
  margin: 0;
  border: 0;
  width: fit-content;
  font-size: 1.3rem;
  line-height: 1.3rem;
  height: 4rem;
  max-height: 4rem;
  cursor: pointer;
  font-weight: 500;
  transition: transform 0.5s ease;
  -webkit-font-smoothing: antialiased;

  // disable-dbl-tap-zoom
  touch-action: manipulation;

  &::after {
    content: "";
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  }

  &:hover {
    transform: scale(1.02) translateZ(0);

    &::after {
      opacity: 1;
    }
  }
}

.no-margin {
  margin: 0 !important;
}

.ballot-element {
  margin: 20px 0;
  -webkit-mask-image: url(/../../public/assets/images/lodd.svg);
  background-repeat: no-repeat;
  mask-image: url(/../../public/assets/images/lodd.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  color: #333333;

  &.green-ballot {
    background-color: $light-green;
  }

  &.blue-ballot {
    background-color: $light-blue;
  }

  &.yellow-ballot {
    background-color: $light-yellow;
  }

  &.red-ballot {
    background-color: $light-red;
  }
}
