@import "./media-queries.scss";

@font-face {
  font-family: "knowit";
  font-weight: 600;
  src: url("/../../public/assets/fonts/bold.woff");
}

@font-face {
  font-family: "knowit";
  font-weight: 300;
  src: url("/../../public/assets/fonts/regular.eot");
}

body {
  font-family: Arial;
  margin: 0;
}

.title {
  text-align: center;
  width: fit-content;
  margin: 2rem auto;
  text-align: center;
  font-family: knowit, Arial;
  margin-top: 3.8rem;
  font-weight: 600;

  @include mobile {
    margin-top: 1.5rem;
    font-size: 1.6rem;
  }
}

.subtext {
  margin-top: 0.5rem;
  font-size: 1.22rem;

  @include mobile {
    margin-top: 0;
    font-size: 1.15rem;
  }
}
