$phone-xs-width: 480px;
$tablet-p-width: 768px;
$tablet-l-width: 1024px;
$desktop-width:  1200px;
$desktop-l-width: 1600px;
$mobile-width: 768px;

@mixin desktop {
  @media (min-width: #{$mobile-width + 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
