.flex {
  display: flex;

  & .column {
    flex-direction: column;
  }

  & .row {
    flex-direction: row;
  }

  & .wrap {
    flex-wrap: wrap;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }
}