.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.justify-center {
    justify-content: center;
  }
  &.justify-space-between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }
}

.inline-block {
  display: inline-block;
}