$light-green: #c8f9df;
$green: #0be881;
$dark-green: #0ed277;

$light-blue: #d4f2fe;
$blue: #4bcffa;
$dark-blue: #24acda;

$light-yellow: #fff6d6;
$yellow: #ffde5d;
$dark-yellow: #ecc31d;

$light-red: #fbd7de;
$red: #ef5878;
$dark-red: #ec3b61;
